<md-content class="main" flex layout="column">
    <div class="filters-area" layout="row" flex>
        <div layout="column" flex="50" style="border-right: 1px solid lightgray; height:80px; margin-right: 15px;">
            <div layout="row">
                <span>Search workouts:</span>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>Workout filter</label>
                    <md-select ng-model="workoutsSearchFilter">
                        <md-option ng-value="">None</md-option>
                        <md-option ng-repeat="workoutFilter in filters.workoutsFilters" ng-value="workoutFilter">{{workoutFilter}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <input type="text" placeholder="Search string" ng-model="workoutsSearchString"></input>
                </md-input-container>
                <md-button class="mdi md-fab md-mini" ng-click="searchWorkout()">
                    <i class="mdi mdi-magnify mdi-24px">
                        <md-tooltip>Search for workouts</md-tooltip>
                    </i>
                </md-button>
            </div>
        </div>
        <div layout="column" flex="50">
            <div layout="row">
                <span>Search by users:</span>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>Users filter</label>
                    <md-select ng-model="usersSearchFilter">
                        <md-option ng-value="">None</md-option>
                        <md-option ng-repeat="userFilter in filters.usersFilters" ng-value="userFilter">{{userFilter}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <input type="text" placeholder="Search string" ng-model="usersSearchString"></input>
                </md-input-container>
                <md-button class="mdi md-fab md-mini" ng-click="searchUser()">
                    <i class="mdi mdi-magnify mdi-24px">
                        <md-tooltip>Search by users</md-tooltip>
                    </i>
                </md-button>
            </div>
        </div>
    </div>
    <md-list flex>
        <md-card ng-if="recomendedWorkout" layout-padding flex>
            <md-card-header-text class="recommended-header" layout="row">
                <i class="mdi mdi-star mdi-36px">
                    <md-tooltip>Recommended for you</md-tooltip>
                </i>
                <span class="md-headline">{{recomendedWorkout.title}}</span>
            </md-card-header-text>
            <md-card-title>
                <md-card-title-text layout="row">
                    <i ng-class="getSuitableIconDescription(recomendedWorkout)">
                        <md-tooltip>Recommended for {{recomendedWorkout.gender}}</md-tooltip>
                    </i>
                    <span>Difficulty: {{recomendedWorkout.difficulty}} ({{recomendedWorkout.difficulty | level}})
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div layout="row">
                    <div class="workout-description" layout="column" flex>
                        <span>{{recomendedWorkout.description}}</span>
                    </div>
                    <div class="workout-video-container" layout="column" flex>
                        <iframe width="420" height="315" ng-src="{{getVideoUrl(recomendedWorkout)}}" frameborder="1" allowfullscreen></iframe>
                    </div>
                </div>
            </md-card-content>
            <div layout="row" class="external-description" flex>
                <div layout="column" flex>
                    <a ng-href="https://twitter.com/intent/tweet?screen_name=Workout&text=An amazing workout {{recomendedWorkout.title}} ! {{recomendedWorkout.description}}"
                       class="twitter-mention-button" data-show-count="false">Tweet to Workout</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div layout="column" flex>
                    <span class="author-description">Written by: {{recomendedWorkout.author}}, {{recomendedWorkout.date | amCalendar}}</span>
                </div>
            </div>
        </md-card>
        <div flex layout="row" layout-wrap layout-align="space-around">
            <md-list-item ng-repeat="workout in workouts | orderBy: '-date' track by workout._id" flex>
                <md-card layout-padding flex>
                    <md-card-header-text layout="column">
                        <span class="md-headline">{{workout.title}}</span>
                    </md-card-header-text>
                    <md-card-title>
                        <md-card-title-text layout="row">
                           <i ng-class="getSuitableIconDescription(workout)">
                              <md-tooltip>Recommended for {{workout.gender}}</md-tooltip>
                           </i>
                           <span>Difficulty: {{workout.difficulty}} ({{workout.difficulty | level}})
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                       <div layout="row">
                          <div class="workout-description" layout="column" flex>
                              <span>{{workout.description}}</span>
                          </div>
                            <div class="workout-video-container" layout="column" flex>
                                 <iframe width="420" height="315" ng-src="{{getVideoUrl(workout)}}" frameborder="1" allowfullscreen></iframe>
                              </div>
                           </div>
                    </md-card-content>
                   <div layout="row" class="external-description" flex>
                      <div layout="column" flex>
                         <a ng-href="https://twitter.com/intent/tweet?screen_name=Workout&text=An amazing workout {{workout.title}} ! {{workout.description}}"
                            class="twitter-mention-button" data-show-count="false">Tweet to Workout</a>
                         <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                      <div layout="column" flex>
                         <span class="author-description">Written by: {{workout.author}}, {{workout.date | amCalendar}}</span>
                      </div>
                   </div>
                </md-card>
            </md-list-item>
        </div>
    </md-list>
    <md-button class="md-primary md-fab md-fab-bottom-right" ng-click="openWorkoutAdditionDialog()" style="position: fixed">
        <i class="mdi mdi-plus">
            <md-tooltip md-direction="right">Add new workout</md-tooltip>
        </i>
    </md-button>
</md-content>
